.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.container .login-form {
    min-width: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.container .login-form .text-input {
    width: 100%;
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: 1.5rem;
    padding: 0 0.5rem;
    margin: 0.5rem 0;
}

.container .login-form .button {
    width: 100%;
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: 1.5rem;
    padding: 0 0.5rem;
    margin: 0.5rem 0;
}
