.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.container .store-form {
    min-width: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.container .store-form .store-row {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
}

.container .store-form .store-row .store-cell {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container .store-form .text-input {
    width: 100%;
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: .5rem;
    padding: 0 0.5rem;
    margin: 0.5rem 0;
}

.container .store-form .button {
    width: 100%;
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: .25rem;
    padding: 0 0.5rem;
    margin: 0.5rem 0;
}